/* Estilos generales */

/* Encabezados */
h1 {
    font-size: 18pt;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.2in;
}

h2 {
    font-size: 14pt;
    font-weight: bold;
    text-align: left;
    margin-top: 0.1in;
    margin-bottom: 0.1in;
}

h3 {
    font-size: 12pt;
    font-weight: bold;
    text-align: left;
    margin-top: 0.1in;
    margin-bottom: 0.05in;
}

/* Párrafos */
p{
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
    margin-top: 0.1in;
    margin-bottom: 0.05in;
    line-height: 1.5;
}

/* Listas */
ul, ol {
    margin: 0 0 0 0.5in;
}

li {
    margin-bottom: 0.1in;
}

/* Estilos de tablas */
table {
    width: 60%;
    margin: 0 auto; /* Centrar la tabla */
    border-collapse: collapse; /* Mostrar todas las líneas */
    border: 1px solid #000;
}

tr{
    border: 1px solid #000; /* Bordes para todas las celdas */
}
td{
    width: 50%;
    border: 1px solid #000; /* Bordes para todas las celdas */
    padding: 8px;
    text-align: left; /* Alinear el texto a la izquierda */
}

/* Estilos adicionales para énfasis */
b {
    font-weight: bold;
}

i {
    font-style: italic;
}

u {
    text-decoration: underline;
}

/* Estilo de título de sección */
.section-title {
    font-size: 14pt;
    font-weight: bold;
    margin-top: 0.5in;
    margin-bottom: 0.2in;
}

/* Estilo de figura y tablas */
.figure{
    margin-top: 0.3in;
    margin-bottom: 0.3in;
    text-align: center;
}

img {
    display: block; /* Para asegurar que el margin: auto funcione correctamente */
    margin: auto; /* Centrar horizontalmente */
    max-width: 50%; /* Tamaño máximo del 50% del contenedor */
    height: auto; /* Altura automática para mantener la proporción */
}
